<footer class="footer bg-dark text-white py-4 mt-5" id="footer">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                <p>&copy; 2025 Club de Lectura Ubuntu | EINA</p>
            </div>
            <div class="col-md-6">
                <ul class="list-inline mb-0 text-center text-md-end">

                    <li class="list-inline-item">
                        <a rel="me" href="#" target="_blank" class="text-white text-decoration-none">
                            Biblioteca
                        </a>
                    </li>

                    
                </ul>
            </div>
        </div>
    </div>
</footer>