.hero-section {
    background: url('https://via.placeholder.com/1920x1080.png?text=Imagen+de+Bienvenida') no-repeat center center;
    background-size: cover;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero-content {
    z-index: 1;
}

.card-img-top {
    height: 200px; /* Tamaño fijo para las imágenes de los libros */
    object-fit: cover;
}